<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TeamFightTactics.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1E4B558522E5C59C0045934D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E4B559922E5C59E0045934D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E4B55A422E5C59E0045934D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
