<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808439631868-5ktuc3a5m3qh29iclurlete6tl17gh2j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808439631868-5ktuc3a5m3qh29iclurlete6tl17gh2j</string>
	<key>API_KEY</key>
	<string>AIzaSyDxdsaddR-ErRCAPlQtM8rZWPjeKCjjXuI</string>
	<key>GCM_SENDER_ID</key>
	<string>808439631868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Rednaxela.TeamFightTacticsAssistant</string>
	<key>PROJECT_ID</key>
	<string>tftassistant-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>tftassistant-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808439631868:ios:5f9247be1ea3adc0d1ac79</string>
</dict>
</plist>